Add more record types

Please add more DNS record types.

For example i need SSHFP record types.

Here is an example type list from google cloud dns:
![dnstypes](https://user-images.githubusercontent.com/358099/29387078-fa8f2bd4-82cd-11e7-98d7-0079cc50cdd2.png)


Added support (on master) for SSHFP record type.

The other record types from the google cloud UI that are not currently supported in DNS UI are:
* DNSKEY - DNSSEC-related
* DS - DNSSEC-related
* IPSECKEY - [RFC 4025](https://tools.ietf.org/html/rfc4025)
* NAPTR - [mostly telephony-related](https://en.wikipedia.org/wiki/NAPTR_record)
* SPF - deprecated as of [RFC 7208](https://tools.ietf.org/html/rfc7208)
* TLSA - [RFC 6698](https://tools.ietf.org/html/rfc6698)

I'm not convinced that all of them are worth adding just for the sake of adding them, but if there are specific requests for them then they can be worked on.

**Thank** you!

I work for a VoIP company and we are currently looking for a good frontend to powerDNS and came across this one.

We actually do use NAPTR records, which are in use for for instance Skype for Business.

Would it be possible to add that record type?

Thanks!

Certainly, I'll try to get that added as soon as possible.

Support added for NAPTR record type.